/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red{
  background-color: #61dafb;
} */

/*APP*/
/* .App {
  height: 100%;
  width: 100%;

} */

.Flexi {
  display: flex;
  
}
.FlexiContent{
  display: flex;
  width: 100%;
}
.Top{
  position: fixed;
  width: 100%;
  margin: 0%;
  
}
.SmallScreenLeft{
  /* flex-grow: 1; */
  width: 35%;
  background-color: maroon;
  scroll-behavior: smooth;
  padding-top:15%;
}
.SmallScreen{
  width: 30%;

  /* flex-grow: 1; */
  background-color: maroon;
  scroll-behavior: smooth;
  padding-top:15%;
}
.BigScreen{
  width: 35%;

  /* flex-grow: 2; */
  background-color: goldenrod;
  scroll-behavior: smooth;
  padding-top: 15%;

}
/* background-color: #C75050; */
.Mini{
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.MiniDown{
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.MiniUp{
  padding-top: 0%;
  margin-top: 0%;
}

.NoMargin{
  padding-top: 0%;
  padding-bottom: 0%;
}

/*Komponentit*/
  /*SelfInfo*/
.SelfInfoRed{
  background-color: #F52528;
  display: flex;
}
.SelfInfoOrange{
  background-color: gold;
  display: flex;
  height: 100%;
}
.SelfInfoGreen{
  background-color: #74E036;
  display: flex;

}

.TimerSection{
  margin-left: 3%;
  margin-right: 3%;
}
.Timer{
  text-align: center;
  border: black;
  border-radius: 10px;
  background-color: whitesmoke;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.TimerWithMargins{
  text-align: center;
  border: black;
  border-radius: 10px;
  background-color: whitesmoke;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 5%;
  margin-bottom: 0%;
}
.LittlePadding{
  padding-top: 2%;
  padding-bottom: 1%;
}

.BackGroundGold{
  background-color: goldenrod;

  
}
.NoBorder{
  border:0;
}

.TablePlayers{
  background-color: maroon;
}
.TablePlayers_td{
  text-align: center;
  background-color: goldenrod;
}

.TeamInfoStyle{
  background-color: maroon;
  border-radius: 5%;
  color:gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 2%;
  border: solid 5px goldenrod;
  padding-left: 1%;
  padding-bottom: 1%;
}
.TeamInfoStyle .Player{
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background-color: goldenrod;
  text-shadow: none;

}
.Button25{
  width: 25%;
}
.GoldText{
  color:gold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.PaddingLeft{
  align-content: center;
  padding-left: 1%;
}